<div class="fxContainer">
    <mat-toolbar style="min-height: 100px;">
        <div fxHide.xl="true" fxHide.lg="true" fxHide.md="true">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="" routerLinkActive="active">
                    Home
                </button>
                <button mat-menu-item routerLink="/menu" routerLinkActive="active">
                    Menu
                </button>
                <button mat-menu-item routerLink="/reservations" routerLinkActive="active">
                    Reservations
                </button>
                <button mat-menu-item routerLink="/locations" routerLinkActive="active">
                    Locations
                </button>
                <button mat-menu-item routerLink="/contact" routerLinkActive="active">
                    Contact Us
                </button>
            </mat-menu>
        </div>'
        <div class="middle" fxHide.xl="true" fxHide.lg="true" fxHide.md="true">

        </div>
        <div class="left" fxHide.sm="true" fxHide.xs="true">
            <a routerLink="" routerLinkActive="active" id="homeLink" (mouseenter)="changeOpacity('home')"
                (mouseleave)="resetOpacity()">Home</a>
            <a routerLink="/menu" routerLinkActive="active" id="menuLink" (mouseenter)="changeOpacity('menu')"
                (mouseleave)="resetOpacity()">Menu</a>
            <a routerLink="/reservations" routerLinkActive="active" id="resLink" (mouseenter)="changeOpacity('res')"
                (mouseleave)="resetOpacity()">Reservations</a>
            <a routerLink="/locations" routerLinkActive="active" id="locLink" (mouseenter)="changeOpacity('loc')"
                (mouseleave)="resetOpacity()">Locations</a>
        </div>
        <a routerLink="" routerLinkActive="active"><img src="../../assets/seansLogo.png" class="seansLogo"></a>
        <div class="right">

        </div>
        <a routerLink="/contact" routerLinkActive="active" id="conLink" (mouseenter)="changeOpacity('con')"
            (mouseleave)="resetOpacity()" fxHide.sm="true" fxHide.xs="true">Contact</a>
    </mat-toolbar>
</div>