<!-- 
    Last Updated: 10/18/2020
    File Name: footer.component.html
    Description: 
        Contains the HTML code for the footer displayed on the bottom of all pages of the website.
    Related Files:
        footer.component.css
        footer.component.ts
        footer.component.spec.ts
-->

<div>
    <a href="http://www.facebook.com">
        <fa-icon [icon]="faFacebook" class="fa-3x" id="facebook"></fa-icon>
    </a>
    <a href="http://www.twitter.com">
        <fa-icon [icon]="faTwitter" class="fa-3x" id="twitter"></fa-icon>
    </a>
</div>