<!-- 
    Last Updated: 10/18/2020
    File Name: locations-page.component.html
    Description: 
        Contains the HTML code for the locations page of the website in which the all the locations are displayed
        on a google map, with the addresses listed below it, and the times that they are open at.
    Related Files:
        locations-page.component.ts
        locations-page.component.css
        locations-page.component.spec.ts 
-->

<div class="mapContainer">
    <agm-map style="height: 500px;" [zoom]="2">
        <agm-marker [latitude]='48.8584' [longitude]='2.294694'></agm-marker>
        <agm-marker [latitude]='38.897957' [longitude]='-77.036560'></agm-marker>
        <agm-marker [latitude]='52.535152' [longitude]='13.390206'></agm-marker>
        <agm-marker [latitude]='35.6586' [longitude]='139.7454'></agm-marker>
    </agm-map>
</div>
<hr>
<div class="fxContainer">
    <div class="box">
        <h5>
            Sean's Washington D.C
            <hr>
        </h5>
        <div>
            537 E. Lantern Drive Washington, DC 20005
        </div>
        <div>
            P: 1-202-555-0182
        </div>
        <div class="space">
            <h6>Hours</h6>
        </div>
        <div>
            Mon – Wed 5:00pm to 11:00pm
            <br>
            Thurs 5:00pm to 11:00pm
            <br>
            Fri + Sat 12:00pm to Midnight
            <br>
            Sun 12:00pm to 10:00pm
        </div>
    </div>
    <div class="box">
        <h5>
            Sean's London 
            <hr>
        </h5>
        <div>
            9773 Green Lane London W13 7GV
        </div>
        <div>
            P: 020-7946-0400
        </div>
        <div class="space">
            <h6>Hours</h6>
        </div>
        <div>
            Mon – Fri 12:00pm to 11:00pm
            <br>
            Sat - Sun 5:00pm to 11:00pm
        </div>
    </div>
    <div class="box">
        <h5>
            Sean's Berlin
            <hr>
        </h5>
        <div>
            Michelsplatz 75 63857 Stadtsteinach
        </div>
        <div>
            P: 03961-414336
        </div>
        <div class="space">
            <h6>Hours</h6>
        </div>
        <div>
            Mon – Thurs 3:00pm to 11:00pm
            <br>
            Fri - Sun 12:00pm to Midnight
        </div>
    </div>
    <div class="box">
        <h5>
            Sean's Tokyo
            <hr>
        </h5>
        <div>
            472-1235, Kiyokawacho Higashi
        </div>
        <div>
            P: 058-5033152
        </div>
        <div class="space">
            <h6>Hours</h6>
        </div>
        <div>
            Mon – Wed 10:00am to 11:00pm
            <br>
            Thurs - Fri 12:00pm to Midnight
            <br>
            Sat - Sun 3:00pm to 10:00pm
        </div>
    </div>
</div>

<app-footer></app-footer>