<div class="fxContainer">
    <div class="carousel">
        <carousel [showIndicators]="false">
            <slide>
                <img src="../../assets/Home/Carousel/burgerHome.jpg">
            </slide>
            <slide>
                <img src="../../assets/Home/Carousel/pancakesHome.jpg">
            </slide>
            <slide>
                <img src="../../assets/Home/Carousel/pizzaHome.jpg">
            </slide>
            <slide>
                <img src="../../assets/Home/Carousel/salmonHome.jpg">
            </slide>
            <slide>
                <img src="../../assets/Home/Carousel/shishkebabHome.jpg">
            </slide>
        </carousel>
    </div>
    <hr>
    <div class="box1">
        <h3>
            "Sean's serves fresh original burgers, steaks, and sandwiches with locally purchased ingredients.
            The success of the restaurant lies in the simplicity of its menu. Everything Sean's makes is cooked
            to perfection."
        </h3>
        <p class="p1">
            The main attraction, modeled after the Minneapolis-originated phenomenon, the “Juicy Lucy,” features two
            thin beef short rib blend patties pinched together encasing a scoop of pimento cheese, the result: a molten
            core of cheese oozing from the patty. Sean's introduced their take on the cult burger in 2010 to rave
            reviews.
        </p>
        <p class="p2">
            In addition, Sean's offers a vast array of specialty crafted burgers including The Hound, Spicy Patty, and
            The Mangold just to name a few. While we are known for our burgers, some of our other most popular items
            include our East Villi Cheesesteak, Veggie Burger, and Kale Salad.
        </p>
        <h4>
            <a id="menu" routerLink="/menu" routerLinkActive="active" (mouseenter)="opacitySet()" (mouseleave)="opacityReset()">Browse Sean's Menu!</a>
        </h4>
    </div>
    <div class="box2">
        <img src="../../assets/Home/tablesHome.jpg">
    </div>
    <hr>
    <div class="box">
        <h5>
            Sean's Washington D.C
            <hr>
        </h5>
        <div>
            537 E. Lantern Drive Washington, DC 20005
        </div>
        <div>
            P: 1-202-555-0182
        </div>
        <div class="space">
            <h6>Hours</h6>
        </div>
        <div>
            Mon – Wed 5:00pm to 11:00pm
            <br>
            Thurs 5:00pm to 11:00pm
            <br>
            Fri + Sat 12:00pm to Midnight
            <br>
            Sun 12:00pm to 10:00pm
        </div>
    </div>
    <div class="box">
        <h5>
            Sean's London 
            <hr>
        </h5>
        <div>
            9773 Green Lane London W13 7GV
        </div>
        <div>
            P: 020-7946-0400
        </div>
        <div class="space">
            <h6>Hours</h6>
        </div>
        <div>
            Mon – Fri 12:00pm to 11:00pm
            <br>
            Sat - Sun 5:00pm to 11:00pm
        </div>
    </div>
    <div class="box">
        <h5>
            Sean's Berlin
            <hr>
        </h5>
        <div>
            Michelsplatz 75 63857 Stadtsteinach
        </div>
        <div>
            P: 03961-414336
        </div>
        <div class="space">
            <h6>Hours</h6>
        </div>
        <div>
            Mon – Thurs 3:00pm to 11:00pm
            <br>
            Fri - Sun 12:00pm to Midnight
        </div>
    </div>
    <div class="box">
        <h5>
            Sean's Tokyo
            <hr>
        </h5>
        <div>
            472-1235, Kiyokawacho Higashi
        </div>
        <div>
            P: 058-5033152
        </div>
        <div class="space">
            <h6>Hours</h6>
        </div>
        <div>
            Mon – Wed 10:00am to 11:00pm
            <br>
            Thurs - Fri 12:00pm to Midnight
            <br>
            Sat - Sun 3:00pm to 10:00pm
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>