<div class="fxContainer">
  <div class="carousel">
    <carousel [showIndicators]="false">
      <slide>
        <img src="../../assets/Menu/Carousel/breadsticksMenu.jpg">
      </slide>
      <slide>
        <img src="../../assets/Menu/Carousel/restaurantMenu.jpg">
      </slide>
      <slide>
        <img src="../../assets/Menu/Carousel/salmonMenu.jpg">
      </slide>
      <slide>
        <img src="../../assets/Menu/Carousel/shrimpMenu.jpg">
      </slide>
      <slide>
        <img src="../../assets/Menu/Carousel/steakMenu.jpg">
      </slide>
    </carousel>
    <hr>
  </div>
  <div class="left">
    <div>
      <h4>Appetizers</h4>
      <ul>
        <li>Mac & Cheese</li>
        <li>Mozzarella Sticks</li>
        <li>Onion Rings</li>
        <li>Bread Basket</li>
        <li>Fried Pickles with Spicy Mayonnaise</li>
        <li>Spicy Grilled Shrimp</li>
      </ul>
    </div>
    <hr>
    <div class="salads">
      <h4>Salads</h4>
      <div>
        <img src="../../assets/Menu/Salads/caesarSaladMenu.jpg">
        <h5>Caesar Chicken Salad</h5>
        <p>
          Generic text here describing the ingredients involved in this particular salad
        </p>
      </div>
      <div>
        <img src="../../assets/Menu//Salads/greekSaladMenu.jpg">
        <h5>Greek Salad</h5>
        <p>
          Generic text here describing the ingredients involved in this particular salad
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Salads/capreseSaladMenu.jpg">
        <h5>Caprese Salad</h5>
        <p>
          Generic text here describing the ingredients involved in this particular salad
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Salads/beanSaladMenu.jpg">
        <h5>Bean Salad</h5>
        <p>
          Generic text here describing the ingredients involved in this particular salad
        </p>
      </div>
    </div>
  </div>
  <div class=" middleLeft">
    <div class="sandwiches">
      <h4>Sandwiches</h4>
      <div>
        <img src="../../assets/Menu/Sandwiches/hamburger1Menu.jpg">
        <h5>Sean's Classic</h5>
        <p>
          Generic text here describing the ingredients involved in this particular sandwich
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Sandwiches/baconburgerMenu.jpg">
        <h5>Bacon Burger</h5>
        <p>
          Generic text here describing the ingredients involved in this particular sandwich
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Sandwiches/cheeseburgerMenu.jpg">
        <h5>Cheese Burger</h5>
        <p>
          Generic text here describing the ingredients involved in this particular sandwich
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Sandwiches/clubsandwich.jpg">
        <h5>Club Sandwich</h5>
        <p>
          Generic text here describing the ingredients involved in this particular sandwich
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Sandwiches/reubenMenu.png">
        <h5>Reuben</h5>
        <p>
          Generic text here describing the ingredients involved in this particular sandwich
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Sandwiches/phillycheesesteakMenu.jpg">
        <h5>Philly CheeseSteak</h5>
        <p>
          Generic text here describing the ingredients involved in this particular sandwich
        </p>
      </div>
    </div>
  </div>
  <div class="middleRight">
    <div class="sandwiches">
      <div>
        <img src="../../assets/Menu/Sandwiches/grilledCheeseMenu.jpg">
        <h5>Grilled Cheese</h5>
        <p>
          Generic text here describing the ingredients involved in this particular sandwich
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Sandwiches/veggieBurgerMenu.jpg">
        <h5>Veggie Burger</h5>
        <p>
          Generic text here describing the ingredients involved in this particular sandwich
        </p>
      </div>
    </div>
    <div class="entrees">
      <h4>Entrees</h4>
      <div>
        <img src="../../assets/Menu/Entrees/ribeyesteakMenu.jpg">
        <h5>Ribeye Steak</h5>
        <p>
          Generic text here describing the ingredients involved in this particular entree
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Entrees/filetmignonsteakMenu.jpg">
        <h5>Filet Mignon Steak</h5>
        <p>
          Generic text here describing the ingredients involved in this particular entree
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Entrees/grilledsalmonMenu.jpg">
        <h5>Grilled Salmon</h5>
        <p>
          Generic text here describing the ingredients involved in this particular entree
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Entrees/grillechickenMenu.jpg">
        <h5>Grilled Chicken</h5>
        <p>
          Generic text here describing the ingredients involved in this particular entree
        </p>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="entrees">
      <div>
        <img src="../../assets/Menu/Entrees/cajunshrimpMenu.jpg">
        <h5>Cajun Shrimp</h5>
        <p>
          Generic text here describing the ingredients involved in this particular entree
        </p>
      </div>
      <div>
        <img src="../../assets/Menu/Entrees/chickenburritoMenu.jpg">
        <h5>Chicken Burrito</h5>
        <p>
          Generic text here describing the ingredients involved in this particular entree
        </p>
      </div>
    </div>
  </div>
  <hr style="width: 85%">
  <div class="desserts">
    <h3>Desserts</h3>
    <ul>
      <li>Chocolate Chip Sundae</li>
      <li>StrawBerry Cheesecake</li>
      <li>Apple Pie</li>
      <li>Milkshake</li>
      <li>Banana Split</li>
      <li>Chocolate Chip Cookies</li>
    </ul>
  </div>
  <div class="desserts">
    <h3>Drinks</h3>
    <ul>
      <li>Water</li>
      <li>Pepsi</li>
      <li>Diet Pepsi</li>
      <li>Mountain Dew Baja Blast</li>
      <li>Lemonade</li>
      <li>Sierra Mist</li>
    </ul>
  </div>
  <div class="soups">
    <h3>Soups</h3>
    <ul>
      <li>French Onion soup</li>
      <li>Pea Soup</li>
      <li>Chicken Noodle Soup</li>
      <li>Broccoli Soup</li>
    </ul>
  </div>
</div>